[user]
	name = Jason Orendorff
	email = jason.orendorff@gmail.com

[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
	glog = log --graph --all --decorate
[push]
	default = simple
[pull]
	ff = only

[diff]
        algorithm = patience
        submodule = log

[merge]
        conflictstyle = diff3
[color]
	ui = auto
[github]
	user = jorendorff
[advice]
	detachedHead = false

[core]
        excludesFile = ~/.gitignore
